/* password generator styling*/
/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
} */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
input[type="number"] {
    width: 60px;
    margin-bottom: 10px;
}
.password-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    background: #fff;
}
.password {
    flex-grow: 1;
    padding: 5px;
    word-break: break-all;
}
button {
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}
/* end */